apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  type: NodePort  # Makes the service accessible on a cluster-internal IP and a NodePort
  ports:
    - protocol: TCP
      port: 80      # Service port (cluster-internal)
      targetPort: 80 # Pod port